extend ../layout/default

block page_data
  - var siteTitle = ""
  - var description = ""
  - var keywords = ""
  - var siteUrl = ""

block body
  .contents
    h1 INDEX
    ul
      li
        a.link(href="list.html") 動画付きtweetリスト
      li
        a.link(href="counter.html") 戦績カウンター
