extend ../layout/default

block page_data
  - var siteTitle = ""
  - var description = ""
  - var keywords = ""
  - var siteUrl = ""

block body
  .contents
    h1 INDEX
    ul
      li
        a.link(href="/list/") 動画付きtweetリスト
      li
        a.link(href="/counter/") 戦績カウンター
      li
        a.link(href="/versus/") 勝敗リスト
