@charset "utf-8";

//------------------------ for counter ------------------------//

.counter {
  padding: 24px;
}

.player {
  display: flex;
  justify-content: space-around;

  li {
    min-width: 35%;
  }

  .count {
    text-align: center;
  }
}

.button-list {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.result {
  margin-top: 24px;
  textarea {
    width: 100%;
    padding: 24px;
    resize: none;
  }
}