doctype html
html(lang=ja)
  include ../include/head
  body
    .wrapper
      //- include ../include/header
      block body
      //- include ../include/footer

    //- scripts
    - var path = (isIndex) ? '' : '../';
    script(src= path + 'js/common.js')
    if(js_src)
      script(src= path + 'js/' + js_src + '.js')
