extend ../../layout/default

block page_data
  - var siteTitle = ""
  - var description = ""
  - var keywords = ""
  - var siteUrl = ""
  - var js_src = "counter"
  - var css_src = "counter"

block body
  .contents
    h1.title 戦績カウンター
    #counter
