extend ../../layout/default

block page_data
  - var siteTitle = ""
  - var description = ""
  - var keywords = ""
  - var siteUrl = ""
  - var js_src = "versus"
  - var css_src = "versus"

block body
  .contents
    h1.title 勝敗リスト
    #versus
